.ms_body{
    height: calc(100vh );
    overflow: hidden;
    position: relative;
}


header img{
    height: 70px;
}

ul *{
 list-style: none;
}
ul{
    background-image: url();
}
.my_img{
  height: 50px;
}
.my_img img{
    object-fit: cover;
    height: 100%;
}


img *{
    max-width: 100%;
}

.my_color{
    color: greenyellow;
    font-weight:700 ;
}


.my_git a>i:hover,
.my_git:hover {
    color: greenyellow;
    cursor: pointer;
}

.my_git small:hover{
    cursor: pointer;
}

.my_boolean a:hover{
    color: greenyellow;
}
.my_boolean a{
    color: white;
}

.my_youtube img{
   height: 50px;
   object-fit: cover;
   margin-bottom: 20px;
}
.my_overlay{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:hsl(214, 90%, 32%,0.9);
}

.my_overlay img{
    opacity: 0.1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}